<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uas_akb_10119275_dafannafikri">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UAS_AKB_10119275"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UASAKB10119275DafannaFikri">
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Register" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login" />
        <activity
            android:name=".TentangAplikasi"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateCatatanActivity"
            android:exported="true" />
        <activity
            android:name=".TambahCatatanActivity"
            android:exported="false" />
        <activity
            android:name=".CatatanActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>